.info-card {
    height: 100%;
    font-size: 10px;
    padding: 10px;
}

.company-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .company-info {
        display: flex;
        align-items: center;
        gap: .4rem;
    }

    .company-logo {
        display: flex;
        align-items: center;

        img {
            width: 14px;
            height: 14px;
        }
    }

    .company-ticker {
        font-weight: 600;
        font-size: 16px;
    }

    .company-name {
        font-size: 10px;
        color: #888;
        display: flex;
        align-items: center;
        gap: .25rem;
    }
}

.link-img {
    height: 8px;
    width: 8px;
}

.company-exchange {
    font-size: 10px;
    font-weight: 200;
    color: var(--main-green);
}

.company-price-earnings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    .current-price {
        font-weight: 600;
        font-size: 16px;
    }
}

.company-price-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price-change {
    font-size: 12px;
    padding-bottom: 1px;
    color: var(--main-green);
}

.sector-industry {
    color: #888;
}

.news,
.notes {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 0px;
}

.basic-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.market-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: var(--main-blue);
    border-radius: 4px;
    color: white;
}

.market-cap-value {
    font-size: 24px;
    font-weight: 900;
}

.assets-liabilities {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    color: white;
}

.assets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 80px;
    background: var(--main-green);
    border-radius: 4px 4px 0 0;
}

.assets-value,
.liabilities-value {
    font-size: 24px;
    font-weight: 900;
}

.liabilities {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 80px;
    background: var(--main-red);
    border-radius: 0 0 4px 4px;
}

.income-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: var(--main-yellow);
    border-radius: 4px;
    color: white;
}

.eps-value {
    font-size: 14px;
    font-weight: 700;
}

.revenue {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

.net-profit {
    font-size: 14px;
    font-weight: 700;
}

.share-structure {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.float {
    height: 36px;
    width: 95%;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--main-blue);
}

.shares-out {
    height: 36px;
    width: 5%;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--main-blue);
}