.dashboard {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.dashboard-content {
  display: flex;
  height: calc(100% - 28px);
}

.dashboard-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  border-top: 1px solid var(--border-color);
}

.dashboard-content > div:not(:last-child) {
  border-right: solid 1px var(--border-color);
}

.edit-actions-test {
  position: absolute;
  right: 0;
  top: 0;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-bottom: solid 1px var(--border-color);
  font-size: 12px;
  font-weight: 400;
  gap: 4px;
  position: sticky;
  inset-block-start: 0;
  background: white;
}

.category-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.routine,
.plans,
.todays-notes,
.pre-trade-checklist {
  --ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}

.routine::-webkit-scrollbar,
.plans::-webkit-scrollbar,
.todays-notes::-webkit-scrollbar,
.pre-trade-checklist::-webkit-scrollbar {
  display: none;
}

.entry-area {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  resize: none;
}

.plan-title {
  font-size: 12px;
  font-weight: 500;
}

.rule {
  width: 40%;
}

.rule-values {
  width: 60%;
  font-weight: 400;
  text-align: right;
}

.dashboard-content > div {
  width: 25%;
}

.checklist,
.entry {
  padding: 8px;
}

.routine {
  overflow: scroll;
}

.plan-desc {
  display: flex;
  justify-content: space-between;
}
